* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

body {
	background-color: #f2f2f2;
}

.main {
	background-color: #f2f2f2;
	overflow: auto;
}

.left {
	float:left;
	height: 100vh;
	width: 45%;
}

.cv {
	height: 30%;
	width: 100%;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.top {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: #111111;
}

.about,
.work {
	font-size: 4rem;
	color: #f2f2f2;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.shown {
	background-color: #f2f2f2;
	color: #111111;
}

.bottom {
	height: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bottom > p {
	font-family: 'Abel', sans-serif;
	font-size: 1.5rem;
	color: #111111;
}


.right {
	height: 100vh;
	width: 55%;
	float: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
	
.about-page {
	width: 100%;
	display: none;
	/*border: 2px solid #111111;*/
}


.about-col1 {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.margin-top {
	margin-top: 10px;
}

.about-col1 p {
	font-size: 1rem;
	font-family: 'Abel', sans-serif;
	text-align: center;
}

.skills {
	border-top: 1px solid #111111;
	margin-top: 10px;
	padding-top: 10px; 
}



.about-col2 {
	width: 45%;
}

.me {
	width: 100%;
	margin-top: 10px;
}

.me img {
	width: 100%;
	border-radius: 1%;
	margin-top: 0 auto;
}

.social {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.social > a {
	color: #111111;
	font-size: 3rem;

}

.work-page {
	width: 100%;
	display: none;
}
	
.project {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project img {
	width: 100%;
	border-radius: 1%;
}

.project p {
	font-size: 1rem;
	color: #111111;
	margin-top: 10px;
	font-family: 'Abel', sans-serif;
	text-align: center;
}

/*media queries*/

/*tablet rules*/
@media only screen and (min-width: 461px) and (max-width: 960px) {
	.about-col1,
	.about-col2 {
		width: 90%;
	}
}
/*end tablet rules*/


/*mobile rules*/
@media only screen and (max-width: 460px) {

	.left {
		float: none;
		width: 100%;
		height: auto;

	}

	.cv {
		height: 10vh;
	}

	.top {
		height: 12vh;
		display: flex;
		flex-direction: row;
	}

	.sticky {
		position: fixed;
		top: 0;
	}

	.about, 
	.work {
		font-size: 2.5rem;
	}

	.bottom {
		display: none;
	}

	.right {
		width: 100%;
		height: auto;
		float: none;
		padding: 0 10px;
	}

	.about-col1,
	.about-col2 {
		width: 100%;
	}

	.work-page {
		height: 78vh;
	}

}


/*end mobile rules*/